name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --group dev --group test

    - name: Check the server extension is installed
      run: |
        set -eux

        uv run jupyter server extension list
        uv run jupyter server extension list 2>&1 | grep -ie "jupyter_xarray_tiler.*OK"

    - name: Test
      run: uv run pytest -vv -r ap --cov

    - name: Package the extension
      run: uv build

    - name: Upload extension packages
      uses: actions/upload-artifact@v4
      with:
        name: extension-artifacts
        path: dist/jupyter_xarray_tiler*
        if-no-files-found: error

  test_isolated:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: '3.12'

    - uses: actions/download-artifact@v4
      with:
        name: extension-artifacts

    - name: Install from wheel
      run: uv pip install "jupyterlab>=4.0.0,<5" jupyter_xarray_tiler*.whl

    - name: Check the server extension is installed
      run: |
        set -eux

        uv run jupyter server extension list
        uv run jupyter server extension list 2>&1 | grep -ie "jupyter_xarray_tiler.*OK"
